.music-control
    display: table
    width: 120px
    .iconfont
        &:hover
            color: #009a61
        display: table-cell
        vertical-align: middle
        font-size: 26px !important
        cursor: pointer
        color: #333
    .icon-prev
        font-size: 22px !important
    .icon-next
        font-size: 22px !important